
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 24% 95%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 143 44% 34%;
    --primary-foreground: 140 24% 95%;
    --secondary: 143 20% 90%;
    --secondary-foreground: 143 44% 34%;
    --muted: 143 10% 85%;
    --muted-foreground: 0 0% 40%;
    --accent: 120 50% 60%;
    --accent-foreground: 143 44% 34%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 20% 80%;
    --input: 143 20% 80%;
    --ring: 143 44% 34%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 143 44% 5%;
    --foreground: 140 24% 95%;
    --card: 143 44% 8%;
    --card-foreground: 140 24% 95%;
    --popover: 143 44% 8%;
    --popover-foreground: 140 24% 95%;
    --primary: 120 50% 60%;
    --primary-foreground: 143 44% 5%;
    --secondary: 143 44% 15%;
    --secondary-foreground: 120 50% 60%;
    --muted: 143 44% 15%;
    --muted-foreground: 143 10% 70%;
    --accent: 120 50% 60%;
    --accent-foreground: 143 44% 5%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 44% 15%;
    --input: 143 44% 15%;
    --ring: 120 50% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-tight;
  }
}
